extends layout

block content
	.container.book-details
		.row
			.col.s12
				h3.col.s6.m7.l8 #{book.title}
				.col.s6.m5.l4
					a.col.s12.waves-effect.waves-light.btn.add-book-btn(href='/')
						i.material-icons.left dashboard
						| Back
					a.col.s12.waves-effect.waves-light.btn.add-book-btn(target='_blank', href='#{book.buy_url}')
						i.material-icons.left shopping_cart
						| Buy
			.col.s12
				.col.s12.m4
					img(src='#{book.image_url}').book-img
				.col.s12.m8
					p <b>Author:</b>  #{book.author}
					p <b>Genre:</b>  #{book.genre}
					p <b>Pages:</b>  #{book.pages}
					p <b>Publisher:</b>  #{book.publisher}
					p <b>Description:</b>  #{book.description}
